.desktop_home{
    width: 75vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#DAE5F5;
    gap: 1rem;
    padding: 1rem;
    
}

.desktop__home > img {
    margin-top: 25vh;
    width: 35vw;
    height: 35vh;
}